<!DOCTYPE html>
<html ng-app="CafeApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-image:url('http://fscomps.fotosearch.com/compc/UNN/UNN866/u24206402.jpg'); background-position-y:20%; opacity:.5" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Nick's Cafe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="#/" class="navbar-brand" style="color:#740606"><span style="color:#740606" class="glyphicon glyphicon-tags"></span>&nbsp &nbsp Nick's Cafe</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="color:#740606" href="#/menu">Menu</a></li>
                    <li><a style="color:#740606"href="#/add">Add an Item</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
